body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: navy;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: ghostwhite;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color: navy;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin-left: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.nav > a {
  padding: 15px;
  margin: 2px;
  text-decoration: none;
  color: navy;
}

.nav > a:hover {
  background-color: navy;
  color: ghostwhite;
}

.login {
  position: relative;
  text-align: center;
  color: white;
}

.users {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

span {
  color: navy;
  font-size: 30px;
}

.textBox {
  height: 40px;
  width: 400px;
  margin: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.container {
    border: 2px solid navy;
}

img {
  width: 30%;
  height: auto;
}
