body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: navy;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: ghostwhite;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color: navy;
  font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h3 {
  color: navy;
}

h5 {
  color: navy;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.nav > a {
  padding: 15px;
  margin: 2px;
  text-decoration: none;
  color: navy;
}

.nav > a:hover {
  background-color: navy;
  color: ghostwhite;
}

.login {
  position: relative;
  text-align: center;
  color: white;
}

.users {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

span {
  color: navy;
  font-size: 30px;
}

.textBox {
  height: 40px;
  width: 400px;
  margin: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
/* ============== */
/* place gallery */
.container {
    border: 2px solid navy;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 1em 2em;
}

.place {
    color: navy;
    border: 1px solid navy;
    padding: .5em;
    margin: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* max-width: 350px; */
    background-color: ghostwhite;
}

.place-details {
    margin-left: .5em;
    color: navy;
    background-color: ghostwhite;
    text-align: right;
}
dt {
    text-align: right;
    text-decoration: underline;
    font-size: 0.9em;
    padding-bottom: .25em;
}
dd {
    text-align: right;
    font-size: .75em;
    padding-bottom: 0.75em;
    max-width: 150px;
}
.alter {
    /* margin-left: .5em; */
    /* text-align: right; */
    /* display: flex;
    flex-direction: column; */
}
img {
  width: 100%;
  height: auto;
}

.update > input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid navy;
    width: 150px;
}

/* edit and delete buttons */
button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0,0,128,.25);
    border-radius: 10px;
    border: 1px solid navy;
    color: navy;
    padding: 15px;
    margin: 10px;

}
button:hover {
  background-color: ghostwhite;
  border: 1px solid navy;
  color: navy;
}
/* ====================== */
/* search box and filters */
.radio {
  background-color: transparent;
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
}
.searchRadio {
  display: flex;
  text-align: center;
  align-items: center;
}

.search {
  position: absolute;
  transform: translate(-50%, 30%);
  left: 50%;
  padding-top:
}
/* =============== */
/* add destination */
.addPage {
  position: relative;
  text-align: center;
  color: white;
}

.addPlace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  background-color: navy;
  border-radius: 10px;
  border: 1px solid navy;
  color: ghostwhite;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin: 10px 0 5px 0;
}

input[type="submit"]:hover {
  background-color: ghostwhite;
  border: 1px solid navy;
  color: navy;
}

.logo {
  text-decoration: none;
  color: navy;
}
