
<div class="searchRadio">
  <img src="https://i.imgur.com/IBVCAek.jpg" alt="Travel" style="width:100%">
  <div class="search">
    <label for="Search by">
      <input class="searchBar" type="text" placeholder="search" ng-model='searchBox'>
    </label><br>

  <!-- <div class="radio"> -->
      <label for="Filter By Landscape">
        Filter by Landscape:<br>
        <input type="radio" name="landscape" value="Beach" ng-model="landscape" placeholder="Beach">Beach
        <input type="radio" name="landscape" value="Mountains" ng-model="landscape" placeholder="Mountains">Mountains <br>
        <input type="radio" name="landscape" value="City" ng-model="landscape" placeholder="City">City
        <input type="radio" name="landscape" value="Country" ng-model="landscape" placeholder="Country">Country
        <input type="radio" name="All" value="" ng-model="landscape" placeholder="All">View All
      </label>
     <!-- </div> -->
  </div>
</div>

<div class="container">
<div ng-repeat="place in ctrl.travels | filter: searchBox | filter: landscape">
    <div class="place">
        <a  ng-click="ctrl.showDetails()" href="#">
        <!-- <a href="#" ng-click="ctrl.indexOfDetailsToShow = $index"> -->
        <h3>{{place.location}}</h3>
        <img src="{{place.image}}" alt="{{place.location}}"></a>
        <div class="place-details" ng-if="ctrl.showInfo === true">
        <!-- <div class="place-details" ng-if="$index === ctrl.indexOfDetailsToShow"> -->
            <dt>Food Spots:</dt><dd>{{place.food}}</dd>
            <dt>Activities:</dt> <dd>{{place.activities}}</dd>
            <dt>Visited On:</dt><dd>{{place.date | date:'MM/dd/yyyy'}}</dd>
        </div>
        <div class ="alter" ng-if="ctrl.showInfo === true">
            <button ng-if="ctrl.loggedInUsername" ng-click="ctrl.deleteLocation(place)">Delete</button>
            <a ng-if="ctrl.loggedInUsername" href="#" ng-click="ctrl.indexOfEditFormToShow = $index"><button ng-click="ctrl.indexOfEditFormToShow = $index">Edit</button></a>
            <div >
                <form class="update" ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editLocation(place)">
                  <select name="type" ng-model="ctrl.updatedType" placeholder="Type of Location">
                      <option value="Beach">Beach</option>
                      <option value="Mountains">Mountains</option>
                      <option value="City">City</option>
                      <option value="Country">Country</option></select><br>
                  <input type="text" ng-model="ctrl.updatedLocation" placeholder="Location"><br>
                  <input type="text" ng-model="ctrl.updatedImage" placeholder="Image Link"><br>
                  <input type="text" ng-model="ctrl.updatedActivities" placeholder="Activities"><br>
                  <input type="text" ng-model="ctrl.updatedFood" placeholder="Food Spots"><br>
                  <input type="text" ng-model="ctrl.updatedDate" placeholder="Date Visited"><br>
                  <input type="submit" value="Update!">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
