<div class="navigationBar">
  <div class="header">
    <a class="logo" href="index.html"><h1>Travel{err}</h1></a>
    <h3>...To stray, wander.</h3>
  </div>
  <div class="nav">

    <a href="#" ng-if="ctrl.loggedInUsername" ng-click="ctrl.changeInclude('new')">Add a Destination</a>

    <a href="#" ng-if="ctrl.loggedInUsername" ng-click="ctrl.logOut()">Log Out</a>

    <a href="#" ng-hide="ctrl.loggedInUsername" ng-click="ctrl.changeInclude('login')">Login</a>

    <a href="#" ng-hide="ctrl.loggedInUsername" ng-click="ctrl.changeInclude('login')">Join</a>

  </div>
</div>
