<div class="searchRadio">
  <div class="search">
    <label for="Search by">
      <input type="text" placeholder="search" ng-model='searchBox'>
    </label>
  </div>
  <div class="radio">
      <label for="Filter By Landscape">
        <span>Filter by Landscape:   </span>
        <span>Beach</span><input type="radio" name="landscape" value="Beach" ng-model="landscape" placeholder="Beach">
        <span>Mountains</span><input type="radio" name="landscape" value="Mountains" ng-model="landscape" placeholder="Mountains">
        <span>City</span><input type="radio" name="landscape" value="City" ng-model="landscape" placeholder="City">
        <span>Country</span><input type="radio" name="landscape" value="Country" ng-model="landscape" placeholder="Country">
        <span>All</span><input type="radio" name="All" value="" ng-model="landscape" placeholder="All">
      </label>
  </div>
</div>
